/* General Menu Styling */
.menu {
  padding: 20px;
  text-align: center;
}

.menuTitle {
  font-size: 32px;
  margin-bottom: 20px;
}

.menuList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

/* Menu Item Styling */
.menuItem {
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.menuItem h1 {
  font-size: 18px;
  margin: 10px 0;
}

.menuItem p {
  font-size: 16px;
  margin-bottom: 15px;
}

.menuItem div {
  background-size: cover;
  background-position: center;
  height: 200px;
  border-radius: 8px;
  margin-bottom: 15px;
}

/* Add to Cart Button Styling */
.menuItem .addToCartButton {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  display: block;
  margin-top: 15px;
  width: 100%;
  text-align: center;
}

/* Button Hover Effect */
.menuItem .addToCartButton:hover {
  background-color: #218838;
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Button Active Effect */
.menuItem .addToCartButton:active {
  background-color: #1e7e34;
  transform: scale(1.02);
}

/* Cart Section Styling */
.cart {
  margin-top: 30px;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.cart h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.cart ul {
  list-style-type: none;
  padding: 0;
}

.cart ul li {
  margin: 10px 0;
}

.cart input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.cart button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

.cart button:hover {
  background-color: #218838;
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


@media only screen and (max-width: 768px) {
  .menu {
    padding: 10px;
  }

  .menuTitle {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .menuList {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .menuItem {
    padding: 10px;
  }

  .menuItem h1 {
    font-size: 16px;
  }

  .menuItem p {
    font-size: 14px;
  }

  .menuItem div {
    height: 150px;
  }

  .menuItem .addToCartButton {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }
}